/* variables */
:root {
	--primary-color: #5924ed;
	--secondary-black: #0d081a;
	--secondary-gray: #48464b;
	--body-bg: #efebfa;
}

/* global styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	background-color: var(--body-bg);
}
img {
	width: 100%;
	height: 100%;
}
a {
	color: black;
	text-decoration: none;
}
.button-s{
    display: inline-block;
    padding: 0.6em 1.6em;
    border: 1px solid black;
    border-radius: 50px;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}
p {
	font-size: 1.6rem;
	color: var(--secondary-black);
}

/* NAVIGATION SECTION*/
#navigation{
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    position: relative;
}

#navigation .nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 4px;
}

#navigation .nav-icon svg {
	width: 80%;
	color: white;
}

/*HERO SECTION*/

#hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
#hero .left{
    margin-right: 20px;
    margin-bottom: 3em;
    flex: 6;
}
#hero .left .spell{
    color: var(--primary-color);
    font-weight: 700;
    padding-left: 0.3em;
    margin-bottom: 0.5em;
    animation: fade 0.3s ease-in forwards;
	animation-delay: 1s;
	opacity: 0;
}
#hero .left .slogan{
    font-size: 5em;
    padding-bottom: 0.3em;
}
#hero .left .wrapper{
    line-height: 50px;
}
#hero .left .heading .wrapper {
	/* position: relative; */
	/* display: inline-block; */
	overflow: hidden;
}
#hero .left .heading .wrapper span {
	position: relative;
	bottom: -70px;
	animation: reveal 1s ease-in-out forwards;
}
@keyframes reveal {
	0% {
		bottom: -70px;
	}
	100% {
		bottom: 0px;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#hero .left .desc{
    letter-spacing: 2px;
    font-weight: 400;
    max-width: 400px;
    padding-bottom: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: fade 0.3s ease-in forwards;
	animation-delay: 1s;
    opacity: 0;
}

#hero .left .button a{
    color: #fff;
    background-color: var(--primary-color);
    display: inline-block;  
    border-radius: 15px;
    font-size: medium;
    padding: 0.6em 2em;
    animation: fade 0.3s ease-in forwards;
	animation-delay: 1s;
    opacity: 0;
}
#hero .right{
    padding-right: 4em;
    padding-bottom: 4em;
    flex: 4;
}
#hero .right img{
    border-radius: 12px;
    max-width: 500px;
}

@media(max-width: 768px){
    #hero{
        flex-direction: column-reverse;
        align-items: center;
    }
    #hero .left{
        text-align: center;
        margin-right: 0;
    }
    #hero .left .slogan{
        font-size: 6em;
    }
    #hero .left .desc{
        max-width: 100%;
    }
    #hero .left .spell{
        padding: 8px 0 20px 0;
    }

    #hero .right{
        padding: 0;
    }
    #hero .right img{
        max-width: 300px;
    }
    
}
/* HERO SECTION END */

/* SERVICES SECTION */
#services{
    margin-top: 12rem;
}
.topic-heading .main-heading{
    font-size: 5vw;
    letter-spacing: 7px;
    font-weight: 600;
    text-align: center;
    position: relative;
}
.topic-heading .main-heading::before{
    content: attr(data-outline);
    position: absolute;
    left: 2%;
    top: -20%;
    width: 100%;
    font-size: 5vw;
    letter-spacing: 7px;
    font-weight: 600;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1.5px #5a24ed2f;
}
#services .skills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8em;
}

#services .service{
    padding: 2em;
    border-radius: 15px;
}
#services .skills .service-web:hover{
    background-color: rgb(8 69 241 / 35%);
}
#services .skills .service-uı-ux:hover{
    background-color: rgba(0, 255, 115, 0.151);
}
#services .skills .service-seo:hover{
    background-color: #cbbef093;
}
#services .service h3{
    font-size: 2.5em;
    font-weight: 500;
    margin: 0.2em 0 0.6em 0;
}
#services .service .icon-service{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0.75em;
}
#services .service .icon-service#web-design{
    background-color: rgb(7 106 255 / 37%);
}
#services .service .icon-service#uı-ux{
    background-color: rgba(0, 255, 115, 0.493);
}
#services .service .icon-service#seo{
    background-color: #4705fc80;
}

#services .service .desc{
    color: var(--secondary-gray);
    font-size: 1.75rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media(max-width:768px){
    #services .skills{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #services .skills .service{
        margin-bottom: 3em;
    }
    .topic-heading .main-heading{
        font-size: 10vw;
    }
    .topic-heading .main-heading::before{
        font-size: 10vw;
    }
    #services .skills .icon-service{
        margin: 0 auto;
    }

    #services .skills .service-web{
        background-color: rgb(8 69 241 / 35%);
    }

    #services .skills .service-uı-ux{
        background-color: rgba(0, 255, 115, 0.151);
    }
    #services .skills .service-seo{
        background-color: #cbbef093;
    }
}

/* TESTIMONIAL SECTION */
#testimonial{
    margin-top: 22em;
}
#testimonial .topic-heading{
    margin-bottom: 9em;
}
#testimonial .all-items{
    display: flex;
    justify-content: space-between;
    text-align: center;
}    
#testimonial .all-items .item {
    padding: 2rem;
    margin: 0 2em 0 2em;
    position: relative;
}
#testimonial .all-items .img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
#testimonial .all-items .img img{
    border-radius: 50%;
    object-fit: cover;
}
#testimonial .all-items .testimonial-heading{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
#testimonial .all-items .testimonial-subheading{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--secondary-gray);
}

#testimonial .all-items .testimonial-icon{
    max-width: 25px;
    margin: 1.5rem auto;
    color: var(--primary-color);
    opacity: 0.5;
}

#testimonial .all-items .testimonial-desc p{
    color: var(--secondary-gray);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#testimonial .item:nth-of-type(1),
#testimonial .item:nth-of-type(3) {
	flex: 3;
	transform: scale(0.8);
}
#testimonial .item:nth-of-type(2) {
	flex: 4;
}
#testimonial .item::after {
	content: '';
	position: absolute;
	height: 120%;
	width: 100%;
	/* border: 1px solid var(--primary-color); */
	left: 0;
	top: 45px;
	z-index: -1;

	/* border-radius: 20px 50px 100px 50px; */
	box-shadow: 0px 0px 20px 0px #4705fc1f;
}

#testimonial .item:nth-of-type(1)::after,
#testimonial .item:nth-of-type(3)::after {
	transform: skew(2deg, 9deg);
	height: 95%;
	border-radius: 52px 30px 59px 60px;
}
#testimonial .all-items .item:nth-of-type(even)::after {
	transform: skew(350deg, 354deg);
    height: 100%;
	border-radius: 26px 67px 35px 67px;
}
@media(max-width: 1000px){
    #testimonial .all-items{
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
    #testimonial .topic-heading{
        margin-bottom: 3em;
    }
    #testimonial .all-items .item:nth-of-type(3){
        margin-top: 3.5em;
    }
}


/* STATS SECTİON*/
#stats{
    margin-top: 25rem;
}

#stats .stats-items{
    display: flex;
    margin-top: 10rem;
}

#stats .stats-items .stats-item{
    padding: 2rem;
    width: 33%;
}
#stats .stats-items .stats-item .number{
    font-size: 6rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}
#stats .stats-items .stats-item .item-heading{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    padding-bottom: 1rem;
}
#stats .stats-items .stats-item .item-desc{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.75rem;
}
#stats .stats-items .stats-item:nth-child(1){
    background-color: rgba(255, 238, 0, 0.322);
}
#stats .stats-items .stats-item:nth-child(2){
    background-color: rgba(0, 255, 115, 0.329);
}
#stats .stats-items .stats-item:nth-child(3){
    background-color: #4705fc50;
}
@media(max-width:768px){
    #stats .stats-items{
       flex-direction: column;
    }
    #stats .stats-items .stats-item{
        padding: 2rem;
        width: 100%;
    }
}

/* ABOUT Section*/
#about{
    margin-top: 22em;
    margin-bottom: 50em;
}
#about .about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}
#about .about-me .my-card{
    padding: 4rem;
    text-align: center;
    box-shadow: 0px 0px 75px #4705fc33;
    min-height: 400px;
    border-radius: 15px;
    max-width: 300px;
}
#about .about-me .my-card .card-img{
    width: 70px;
    height: 70px;
    margin: 1em auto;
    border-radius: 50%;
    overflow: hidden;
}
#about .about-me .my-card .card-text{
    letter-spacing: 2px;
    font-weight: 400;
    padding-bottom: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about .about-me .my-card .card-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

#about .about-me .my-card .card-subheading{
    font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: var(--secondary-gray);
}

#about .about-me .my-expertise{
    margin-left: 30px;
}

#about .about-me .my-expertise .my-expertise-heading{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.75rem;
    margin-bottom: 1em;
}
#about .about-me .my-expertise .my-expertise-subheading{
    font-size: 2.75rem;
    margin-bottom: 2rem;
}

#about .about-me .my-expertise .my-expertise-desc{
    letter-spacing: 1.5px;
    font-weight: 400;
    padding-bottom: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about .about-me .my-expertise .btn-download-cv{
    font-size: 1.8rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
    margin-right: 1.75em;
}

#about .about-me .my-expertise .btn-hire-me{
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

@media(max-width:768px){
    #about .about-me{
        flex-direction: column-reverse;
    }
    #about .about-me .my-expertise{
        text-align: center;
        margin-left: 0;
        margin-bottom: 5em;
    }
    #about .about-me .my-card{
        min-height: 0;
        max-width: 100%;
        padding: 1.5em;
    }
    #about .about-me .my-expertise .btn-download-cv{
        width: 100%;
        margin-right: 0;
        margin-bottom: 1em;
    }
    #about .about-me .my-expertise .btn-hire-me{
        width: 100%;
    }
}